.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store
data/*.DS_Store
data/raw/*.csv
data/processed/*.csv
reports/figures/*.png
reports/figures/*.html
*.egg-info/
notebooks/data/
